<div>
    <label> Name </label>
    <input [(ngModel)]='newName' /><br>
    <label > Code </label>
    <input [(ngModel)]='newCode'/><br>
    <label > Release Date </label>
    <input [(ngModel)]='newReleaseDate'/><br>
    <label > Price Rating </label>
    <input [(ngModel)]='newPrice'/><br>
    <label > Description </label>
    <input [(ngModel)]='newDescription'/><br>
    <label > Star Rating </label>
    <input [(ngModel)]='newStarRating'/><br>
    <label > Image Url </label>
    <input [(ngModel)]='newImageUrl'/><br>
    <button (click)=onAddProduct()>Add Member</button>
</div>